# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Checkpoints / models
checkpoints/
*.pth
*.pt
*.ckpt
*.pkl

# Large datasets (local only)
hicodet/hico_20160224_det/
hicodet_pkl_files/

# Logs
logs/
*.log

# OS
.DS_Store

